<div class="d-flex justify-content-between">
    <div class="d-flex justify-content-between mt-4">
        <div class="d-flex productInfo mx-4">
            <div class="d-flex">
                <img class='logo' [src]="data.logoUrl" />
            </div>
            <div>
                <div class="productName">{{data.ticker}}</div>
                <div class="currentPrice">{{data.transaction.currentPrice | currency: 'USD': 'symbol': '1.2-4'}}</div>
            </div>
        </div>
        <div class="mx-4">
            <div class="d-flex align-items-center">
                <div class="totalNumber">{{data.transaction.remaining | number : '1.2-2'}}</div>
                <mat-icon></mat-icon>
            </div>
            <div class="totalType">Remaining</div>
        </div>
        <div class="mx-4">
            <div class="d-flex align-items-center">
                <div class="totalNumber">{{data.transaction.totalFees | currency: 'USD'}}</div>
                <mat-icon></mat-icon>
            </div>
            <div class="totalType">Fees</div>
        </div>
        <div class="mx-4">
            <div class="d-flex">
                <div class="totalNumber">{{data.transaction.totalRealizedGainLoss | currency: 'USD'}}1</div>
                <mat-icon *ngIf="data.transaction.totalRealizedGainLoss > 0" class="positiveIcon">arrow_upward
                </mat-icon>
                <mat-icon *ngIf="data.transaction.totalRealizedGainLoss < 0" class="negativeIcon">arrow_downward
                </mat-icon>
            </div>
            <div class="totalType">Realized Gain/Loss</div>
        </div>
        <div class="mx-4">
            <div class="d-flex">
                <div class="totalNumber">{{data.transaction.totalUnrealizedGainLoss | currency: 'USD'}}</div>
                <mat-icon *ngIf="data.transaction.totalUnrealizedGainLoss > 0" class="positiveIcon">arrow_upward
                </mat-icon>
                <mat-icon *ngIf="data.transaction.totalUnrealizedGainLoss < 0" class="negativeIcon">arrow_downward
                </mat-icon>
            </div>
            <div class="totalType">Unrealized Gain/Loss</div>
        </div>
        <div class="mx-4">
            <div class="d-flex">
                <div class="totalNumber">{{data.transaction.totalGainLoss | currency: 'USD'}}</div>
                <mat-icon *ngIf="data.transaction.totalGainLoss > 0" class="positiveIcon">arrow_upward</mat-icon>
                <mat-icon *ngIf="data.transaction.totalGainLoss < 0" class="negativeIcon">arrow_downward</mat-icon>
            </div>
            <div class="totalType">Current Gain/Loss</div>
        </div>
        <div class="mx-4">
            <div class="d-flex">
                <div class="totalNumber">{{data.transaction.totalCurrentValue | currency: 'USD'}}</div>
                <mat-icon></mat-icon>
            </div>
            <div class="totalType">Current Value</div>
        </div>
    </div>
    <button mat-icon-button class="close-button" [mat-dialog-close]="true">
        <mat-icon class="close-icon">close</mat-icon>
    </button>
</div>
<div class="transaction-details-container">

    <table mat-table [dataSource]="dataSource" class="example-table" matSort matSortActive="date" matSortDisableClear
        matSortDirection="desc">
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>Type</th>
            <td mat-cell *matCellDef="let row">{{row.type}}</td>
        </ng-container>

        <ng-container matColumnDef="unitPrice">
            <th mat-header-cell *matHeaderCellDef>Unit Price</th>
            <td mat-cell *matCellDef="let row">{{row.unitPrice  | currency: 'USD': 'symbol': '1.2-4'}}</td>
        </ng-container>

        <ng-container matColumnDef="fees">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>Fees</th>
            <td mat-cell *matCellDef="let row">{{row.fees  | currency: 'USD'}}</td>
        </ng-container>

        <ng-container matColumnDef="quantity">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>Quantity</th>
            <td mat-cell *matCellDef="let row">{{row.quantity}}</td>
        </ng-container>

        <ng-container matColumnDef="remaining">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>Remaining</th>
            <td mat-cell *matCellDef="let row">{{row.remaining  | number : '1.2-2'}}</td>
        </ng-container>

        <ng-container matColumnDef="price">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>Price</th>
            <td mat-cell *matCellDef="let row">{{row.price  | currency: 'USD': 'symbol': '1.2-4'}}</td>
        </ng-container>


        <ng-container matColumnDef="realizedGainLoss">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>Realized Gain/Loss</th>
            <td mat-cell *matCellDef="let row">
                <div class="d-flex">
                    <mat-icon *ngIf="row.realizedGainLoss > 0" class="positiveIcon">arrow_upward</mat-icon>
                    <mat-icon *ngIf="row.realizedGainLoss < 0" class="negativeIcon">arrow_downward</mat-icon>
                    <mat-icon *ngIf="row.realizedGainLoss === 0"></mat-icon>
                    <div>{{row.realizedGainLoss  | currency: 'USD'}}</div>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="unrealizedGainLoss">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>UnRealized Gain/Loss</th>
            <td mat-cell *matCellDef="let row">
                <div class="d-flex">
                    <mat-icon *ngIf="row.unrealizedGainLoss > 0" class="positiveIcon">arrow_upward</mat-icon>
                    <mat-icon *ngIf="row.unrealizedGainLoss < 0" class="negativeIcon">arrow_downward</mat-icon>
                    <mat-icon *ngIf="row.unrealizedGainLoss === 0"></mat-icon>
                    <div>{{row.unrealizedGainLoss  | currency: 'USD'}}</div>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="currentValue">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>Current Value</th>
            <td mat-cell *matCellDef="let row">{{row.currentValue  | currency: 'USD'}}</td>
        </ng-container>


        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                Created
            </th>
            <td mat-cell *matCellDef="let row">{{row.date | date: 'short'}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

<mat-paginator [pageSize]="20" showFirstLastButtons></mat-paginator>