.totalType {
    font-weight: bold;
    font-size: 12px
  }
  .totalNumber {
    font-weight: bold;
    font-size: 18px;
  }

  .positiveIcon {
    transform: rotate(45deg);
    color: #3cd4a0;
    font-weight: bold;
  }

  .negativeIcon {
    transform: rotate(45deg);
    color: #ff4081;
    font-weight: bold;
  }



.currentPrice {
    font-size: 14px;
    font-weight: bold;
    padding-top: 3px;
    color:#e6769c;
}

  .highPrice {
    color: #3cd4a0;
  }
  .lowPrice {
    color: #ff4081;
  }