<div class="row g-0 main-section m-4" form="form">
  <mat-card>
    <div class="row">
      <div class="col-7">
        <div class="d-flex justify-content-between mt-4">
          <div>
            <div class="d-flex align-items-center">
              <div class="totalNumber">{{portfolio.totalFees | currency: 'USD'}}</div>
              <mat-icon></mat-icon>
            </div>
            <div class="totalType">Fees</div>
          </div>
          <div>
            <div class="d-flex align-items-center">
              <div class="totalNumber">{{portfolio.totalRealizedGainLoss | currency: 'USD'}}</div>
              <mat-icon *ngIf="portfolio.totalRealizedGainLoss > 0" class="positiveIcon">arrow_upward</mat-icon>
              <mat-icon *ngIf="portfolio.totalRealizedGainLoss < 0" class="negativeIcon">arrow_downward</mat-icon>
            </div>
            <div class="totalType">Realized Gain/Loss</div>
          </div>
          <div>
            <div class="d-flex align-items-center">
              <div class="totalNumber">{{portfolio.totalUnrealizedGainLoss | currency: 'USD'}}</div>
              <mat-icon *ngIf="portfolio.totalUnrealizedGainLoss > 0" class="positiveIcon">arrow_upward</mat-icon>
              <mat-icon *ngIf="portfolio.totalUnrealizedGainLoss < 0" class="negativeIcon">arrow_downward</mat-icon>

            </div>
            <div class="totalType">Unrealized Gain/Loss</div>
          </div>
          <div>
              <div class="d-flex align-items-center">
                <div class="totalNumber">{{portfolio.totalGainLoss | currency: 'USD'}}</div>
                <mat-icon *ngIf="portfolio.totalGainLoss > 0" class="positiveIcon">arrow_upward</mat-icon>
                <mat-icon *ngIf="portfolio.totalGainLoss < 0" class="negativeIcon">arrow_downward</mat-icon>
  
              </div>
              <div class="totalType">Current Gain/Loss</div>
            </div>
          <div>
            <div class="d-flex align-items-center">
              <div class="totalNumber">{{portfolio.totalCurrentValue | currency: 'USD'}}</div>
              <mat-icon></mat-icon>
            </div>
            <div class="totalType">Current Value</div>
          </div>
        </div>

      </div>
      <div class="col-4 d-flex align-items-center justify-content-end">
        <mat-form-field class="m-2" appearance="fill">
          <mat-label>Filter By Coin</mat-label>
          <input matInput type="text" [value]= "searchTerm" (input)="search($event)">
          <button matSuffix mat-icon-button aria-label="Clear" (click)="clearSearchFilter()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Order By</mat-label>
          <mat-select (selectionChange)="onSorted($event)">
            <mat-option *ngFor="let option of sortedOptions" [value]="option.value">
              {{option.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-1 d-flex justify-content-end">
        <button class="mr-8" mat-icon-button [matMenuTriggerFor]="menu" aria-label="File Upload">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </div>
  </mat-card>
</div>

<div class="row g-0 main-section m-4">
  <div class="col-6 p-2" *ngFor="let ticker of tickers | searchFilter: searchTerm">
    <app-assets-cards [ticker]="ticker" [transaction]="portfolio.assets[ticker]"></app-assets-cards>
  </div>

  <!-- <mat-accordion>
            <mat-expansion-panel *ngFor="let transactionData of transactionMappedData">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{transactionData.monthYear}}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="container">
                    <div class="row g-0 main-section m-4">
                        <mat-card>
                          TOTAL
                        </mat-card>
                      </div>
                  <div class="row">
                    
                    <div class="col-6" *ngFor="let ticker of transactionData.tickers">
                      <app-assets-cards [ticker]="ticker" [transactionByMonthYearTicker]="transactionData.assets[ticker]"></app-assets-cards>                   
                    </div>
          
                  </div>
                </div>
              </mat-expansion-panel>
        </mat-accordion> -->
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="openDialog()">
    <mat-icon>file_upload</mat-icon>
    <span>File Upload</span>
  </button>
  <button mat-menu-item (click)="clear()">
    <mat-icon>delete</mat-icon>
    <span>Clear</span>
  </button>
</mat-menu>